<library path="MROV_25_ROS_OPERATOR">
  <!-- Camera Plugin-->
  <class name="CameraWidget" 
        type="MROV_25_ROS_OPERATOR.camera_widget.CameraPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Camera Widget</label>
      <icon type="theme">camera-web</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Gen Data Plugin-->
  <class name="GenDataWidget" 
        type="MROV_25_ROS_OPERATOR.gen_data_widget.GenDataPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Gen-Data Widget</label>
      <icon type="theme">utilities-terminal</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Leak Sensor Plugin-->
  <class name="LeakSensorWidget" 
        type="MROV_25_ROS_OPERATOR.leak_sensor_widget.LeakSensorPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Leak-Sensor</label>
      <icon type="theme">dialog-warning</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Motor Data Plugin-->
  <class name="MotorDataWidget" 
        type="MROV_25_ROS_OPERATOR.motor_data_widget.MotorDataPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Motor-Data Widget</label>
      <icon type="theme">media-playlist-repeat</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Speed Data Plugin-->
  <class name="SpeedDataWidget" 
        type="MROV_25_ROS_OPERATOR.speed_data_widget.SpeedDataPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Speed-Data Widget</label>
      <icon type="theme">go-next</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Controller Plugin-->
  <class name="ControllerWidget" 
        type="MROV_25_ROS_OPERATOR.controller_widget.ControllerPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Controller Widget</label>
      <icon type="theme">input-gaming</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Connectivity Plugin-->
  <class name="ConnectivityWidget" 
        type="MROV_25_ROS_OPERATOR.connectivity_widget.ConnectivityPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Connectivity Widget</label>
      <icon type="theme">network-wired</icon>
      <statustip></statustip>
    </qtgui>
  </class>
  <!-- Float Plugin-->
  <class name="FloatWidget" 
        type="MROV_25_ROS_OPERATOR.float_widget.FloatPlugin" 
        base_class_type="rqt_gui_py::Plugin">
    <description>
      A
    </description>
    <qtgui>
      <label>ROS 2 ROV-Float Widget</label>
      <icon type="theme">pda</icon>
      <statustip></statustip>
    </qtgui>
  </class>
</library>
